@{
    ViewBag.Title = "KYSI Pledge System";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
               
            </p>
            <ol class="round">
                <li class="one"> <a href="~/Views/SAE/CreateClass">Add a Pledge Class </a></li>

                <li class="two"> <a href="~/Views/SAE/EditClass">Edit a Pledge Class</a></li>

                <li class="three"> <a href="~/Views/SAE/EditPledge">Edit a Pledge Information</a></li>

                <li class="four"> <a href="~/Views/SAE/ManagePoints">Manage Pledge Points</a></li>

            </ol>
        </div>
    </section>
}

