@{
    ViewBag.Title = "EditClassPartialView";
}
<div class="text_sae">
    

    @model SAE_KYSI_PLEDGE.ViewModels.EditClassViewModel

    @Html.DropDownListFor(m => m.SelectedItemID,new SelectList(Model.Classes, "Value", "Text", Model.SelectedItemID))

</div>