@{
    ViewBag.Title = "EditClass";
    @model SAE_CORE.Models.PledgeClassModel
}

<h2>EditClass</h2>

@section featured {  
    
    @Html.LabelFor(m => m.Pledge_Class_Name, "Select Pledge Class")
@*@Html.DropDownListFor(m => m.Pledge_Class_Name,) I think I need to create a view model for the list of strings to choose from*@

    
@* Here is where we would add the javascript to pull of the pledge class information as is then go to the next 
page/partial view to allow the user to edit the pledge class information*@

   @* @Html.Partial("")*@

    <input type="submit" title="Select" value="Select Class"/>
    <input type="button" title="Cancel" value ="Cancel"/>

    @* Once the user selects the pledge class and we display the class information we should have a link to
     edit a pledge in the pledge class.They would select the pledge name in a drop down and press a "Select" button *@
    
    }