@{
    ViewBag.Title = "EditPledgeViewModel";
    
}
<div class="text_sae">

    @model SAE_KYSI_PLEDGE.ViewModels.EditPledgeViewModel

    @Html.DropDownListFor(m => m.SelectedItemID, Model.PledgeList)

    @*@Html.LabelFor(m => m.PledgeList, "Select Pledge")
    @Html.Action("PledgeFirstDropDownList", "SAE", new { selected = "1", type = "Pledge" })*@

</div>
