@{
    ViewBag.Title = "ManagePoints";
}
<div class="text_sae">
    <h2>ManagePoints</h2>

    <table>
        <tr >
            <th>Pledge First Name</th>
            <th>Pledge Last Name</th>
            <th>Attendance </th>
            <th>Exam 1</th>
            <th>Exam 2</th>
            <th>Exam 3</th>
            <th>Exam 4</th>
            <th>Exam 5</th>
            <th>Exam 6</th>
            <th>Exam 7</th>
            <th>Exam 8</th>
            <th>Philanthropy Hours</th>
            <th>Intramurals</th>
            <th>Olympics</th>
        </tr>

        <tr>
            <td>test</td>
        </tr>
        <tr><td>test</td></tr>
        <tr><td>test</td></tr>


    </table>

</div>